{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Find out if two things go well together">
    <meta name="keywords" content="Goes With, two things, norms">
    <meta name="author" content="Yair Hasfari">
    <meta property="og:image" content="https://github.com/yairhasfari/goeswith/blob/master/matches/static/img/logoSmall.png?raw=true">
    <meta property="image" content="{% static 'img/logoSmall.png' %}">
    <meta property="og:url" content="http://www.goes-with.com/add" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Find out if two things go well together">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Goes With" />
    <title>Goes With</title>
    {% endblock head %}
</head>
<body>
{% block body %}
    <div class="container" id="add">
        <span class="largeText">Add 2 Objects to the web's query</span>
        <br>
        <span class="mediumText"><span class="redColor">The Question will be authorized in the next few days by our staff, and will then be active for voting</span>
        </span><br><br>
        <form method="post" action="{% url 'process' %}" class="addForm" autocomplete="off">
            {% csrf_token %}

                Object A: <input type="text" placeholder="Enter Object" name="oA" id="search_obj1" value="{{ search_obj1 }}" ><br>
                Object B: <input type="text" placeholder="Enter Object" name ="oB" id="search_obj2" value="{{ search_obj2 }}" >
                &nbsp;&nbsp;&nbsp;<button type="submit" value="submit" href="">Add Match</button>

        </form>
        {% if response != "" %}
            {% if added == False %}
                <h4 style="color:red;">{{ response }}</h4>
            {% else %}
                <h4 style ="color:green">{{ response }}</h4>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
</body>
</html>