{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Find out if two things go well together">
    <meta name="keywords" content="Goes With, two things, norms">
    <meta name="author" content="Yair Hasfari">
    <meta property="og:image" content="https://github.com/yairhasfari/goeswith/blob/master/matches/static/img/logoSmall.png?raw=true">
    <meta property="image" content="{% static 'img/logoSmall.png' %}">
    <meta property="og:url" content="https://goeswith.herokuapp.com" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Find out if two things go well together">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"><!-- Kaushan Font -->
    <link href="https://fonts.googleapis.com/css?family=Anton|Yesteryear|Muli" rel="stylesheet"> <!--Anton,Yesteryear Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|KoHo" rel="stylesheet"><!--Montserrat Font-->
    <link rel="stylesheet" href="{% static 'css/stylenew.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src={% static 'js/anime.min.js' %}></script>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Goes With" />
    <title>Goes With</title>
    {% endblock head %}
</head>
<body>
{% block body %}
    <section class="welcome">
        <div class="container" id="index">
            <span class="largeText">
                Welcome to <span class="redColor"><span class="logo">GoesWith</span></span>.
            </span>
        </div>
    </section>
    <section>
        <div class="container" id="latest">
            <span class="largeText">
                Recently Added:
            </span>
            <br>
                {% for rate,time in latestRatesMix %}
                    <form method="get" action="{% url 'search' %}">
                        <div class="contIndex" style="background-image:url('{{ rate.object1.image }}');background-size:2em auto;">
                        </div>&nbsp;
                        <div class="contIndex" style="background-image:url('{{ rate.object2.image }}');background-size:2em auto;">
                        </div>&nbsp;&nbsp;
                        <span class="mediumText"><a href="{% url 'find' queryA=rate.object1 queryB=rate.object2 %}">Do{% if rate.object1.plural == False %}es{% endif %} {{ rate.object1 }} <span class="logo">Go With</span> {{ rate.object2 }}?</a> - <span class="smallText">{{ time }}</span></span>
                    </form>
                {% endfor %}

        </div>
        <div class="container" id="latest">
            <span class="largeText">
                Recently Rated:
            </span>
            <br>

                {% for rate,i in latelyRatedMix %}
                    <form method="get" action="{% url 'search' %}">
                        <div class="contIndex" style="background-image:url('{{ rate.object1.image }}');background-size:2em auto;">
                        </div>&nbsp;
                        <div class="contIndex" style="background-image:url('{{ rate.object2.image }}');background-size:2em auto;">
                        </div>&nbsp;&nbsp;
                        <span class="mediumText"><a href="{% url 'find' queryA=rate.object1 queryB=rate.object2 %}">Do{% if rate.object1.plural == False %}es{% endif %} {{ rate.object1 }} <span class="logo">Go With</span> {{ rate.object2 }}?</a> - <span class="smallText">{{ i }}</span></span>
                    </form>
                {% endfor %}

        </div>
    </section>
{% endblock %}
</body>
</html>