{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="descriptin" content="Find out two things go well together or not">
    <meta name="keywords" content="Goes With, two things, norms">
    <meta name="author" content="Yair Hasfari">
    {% load static %}
</head>
<body>
{% block body %}
<section>
    <div class="container" id="index">
        <span class="big">
        Welcome to <span class="logo">GoesWith</span>.
        </span>
        <br>
        Here you get an answer to only one question:
        <br>
        Does one thing go with another?
    </div>
</section>
{% endblock %}
</body>
</html>